[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RSiena"]
	path = RSiena
	url = https://github.com/cran/RSiena
	shallow = true
	registered = true
